:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #007bff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ant-checkbox-wrapper {
  font-size: 14px !important;
}

input, select, textarea, label {
  font-size: 16px !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0056b3;
  }
  button {
    background-color: #f9f9f9;
  }
}
.telegram-menu {
  margin-top: 48px;
}
.top-menu-item {
  margin-left: -0px !important;
  padding-inline: 16px 40px !important;
  width: 100% !important;
  text-transform: uppercase;
}
.telegram-menu .ant-menu-submenu {
  background-color: #007bff;
  .ant-menu-item-icon {
    color: #fff;
  }
  .ant-menu-title-content {
    color: #fff;
    padding-left: 0px !important;
    margin-left: -4px !important;
  }
  .ant-menu-submenu-title {
    padding-top: 4px;
    padding-left: 12px !important;
    margin-bottom: 0px !important;
    text-transform: uppercase;
    
  }
  .ant-menu-submenu-arrow {
    display: none;
  }
  .ant-menu-item-only-child {
    background-color: #fff !important;
    padding-left: 16px !important;
    .ant-menu-title-content {
      color: #007bff !important;
      margin-left: unset !important;
    }
  }
}

.no-hover:hover,
.no-hover:active,
.no-hover:focus {
  background-color: transparent !important;
  color: #007bff !important;
  border-color: transparent !important;
  outline: none !important;
}

.no-hover::after {
  display: none !important;
}